@model MvcFirmaCagri.Models.Entity.tbl_Cagri
@{
    ViewBag.Title = "YeniCagri";
    Layout = "~/Views/Shared/SidebarLayout.cshtml";
}

<h2>Yeni Çağrı Eklema Sayfası</h2>
<br/>
<form method="post">
    
    @Html.Label("Konu")
    @Html.TextBoxFor(x=> x.KONU, new {@class="form-control"})
    <br/>
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=> x.ACIKLAMA, 10, 4, new { @class = "form-control" })
    <br/>
    <button class="btn btn-primary">Çağrı Oluştur</button>
</form>

