
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>İş Takip Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/web/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/web/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/web/js/jquery-1.10.2.min.js"></script>
    <!--pie-chart--->
    

</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">
                        <div class="header_top">
                            <div class="top_right">
                                <ul>
                                    <li><a href="contact.html">Yardım</a></li>|
                                    <li><a href="contact.html">Destek</a></li>|
                                </ul>
                            </div>
                            <div class="top_left">
                                <h2><span></span> Bize Ulaşın : +90 555 555 55 55</h2>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>
                <div class="header_bg">
                    <div class="header">
                        <div class="head-t">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""> </a>
                            </div>
                <!--content-->
                <div class="content">
                    <div class="women_main">
                   @RenderBody()
                    </div>
                </div>
                <!--content-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="/Default/AnaSayfa/"><i class="fa fa-tachometer"></i> <span>Ana Sayfa</span></a></li>
                    <li id="menu-academico"><a href="/Default/AktifCagrilar/"><i class="fa fa-file-text-o"></i> <span>Aktif Çağrılar</span></a></li>
                    <li><a href="/Default/PasifCagrilar/"><i class="lnr lnr-pencil"></i> <span>Pasif Çağrılar</span></a></li>
                    <li><a href="/Default/YeniCagri/"><i class="lnr lnr-inbox"></i> <span>Yeni Çağrı</span></a></li>
                    <li><a href="/Default/mesajlariGoruntule/"><i class="lnr lnr-envelope"></i> <span>Gelen Mesajlar</span></a></li>
                    <li><a href="#"><i class="lnr lnr-cart"></i> <span>Gönderilen Mesajlar</span></a></li>
                    <li><a href="#"><i class="lnr lnr-printer"></i> <span>Yeni Mesaj</span></a></li>
                    <li id="menu-academico"><a href="/Default/ProfilDuzenle/"><i class="fa fa-file-text-o"></i> <span>Profilimi Düzenle</span></a></li>
                    <li id="menu-academico"><a href="/Default/LogOut/"><i class="lnr lnr-book"></i> <span>Çıkış Yap</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

                <script>
                    var toggle = true;

                    $(".sidebar-icon").click(function () {
                        if (toggle) {
                            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                            $("#menu span").css({ "position": "absolute" });
                        }
                        else {
                            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                            setTimeout(function () {
                                $("#menu span").css({ "position": "relative" });
                            }, 400);
                        }

                        toggle = !toggle;
                    });
                </script>

    <!--js -->
    <script src="~/webjs/jquery.nicescroll.js"></script>
    <script src="~/web/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/webjs/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- real-time -->
    <script language="javascript" type="text/javascript" src="~/web/js/jquery.flot.js"></script>

    <!-- /real-time -->
    <script src="~/web/js/menu_jquery.js"></script>
</body>
</html>