@model MvcFirmaCagri.Models.Entity.tbl_Firmalar
@{
    Layout = "~/Views/Shared/LoginSidebarLayout.cshtml";
}

    <div id="loginDiv" class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    
                    <!-- Logo -->
                    <img src="" alt="Image" class="img-fluid" style="border-radius:50px;">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            
                            <!-- Ad Ve Sologan -->
                            <div class="mb-4">
                                <h3> <br/>Rapor Görüntüleme Sistemi</h3>
                                <p class="mb-4"></p>
                            </div>

                            <form method="post">
                                
                                <!-- Kullanici Adi Input -->
                                <div class="form-group first">
                                    <label for="username">Kullanıcı Adı</label>
                                    <input type="text" class="form-control" name="FIRMA_MAIL" id="username">
                                </div>
                                
                                <!-- Şifre Input -->
                                <div class="form-group last mb-4">
                                    <label for="password">Şifre</label>
                                    <input type="password" class="form-control" name="FIRMA_SIFRE" id="password">
                                </div>

                                <!-- Beni Hatırla -->
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Beni hatırla</span>
                                        <input type="checkbox" checked="checked" />
                                    </label>
                                </div>

                                <!-- Giris Button -->
                                <input type="submit" value="Giriş Yap" class="btn text-white btn-block btn-primary">
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/webLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/webLogin/js/popper.min.js"></script>
    <script src="~/webLogin/js/bootstrap.min.js"></script>
    <script src="~/webLogin/js/main.js"></script>
